%br

%h1= t '.last_comments'

- if @comments.empty?
  %div= t '.no_comments'

- @comments.each_with_index do |comment, index|
  = render 'layouts/admin/comments/show', :comment => comment, :index => index

%div#paginator
  = paginate @comments, :window => 2

= render 'layouts/admin/comments/delete.js'

