= link_to t('back'), admin_items_path

%h1= t('.edit_item').titleize

= form_for @item, :url => admin_item_path(@item), :method => :put do |f|

  = render "layouts/admin/item_form", :f => f

  %br
  = submit_tag t('.update_item')

  %br
  %br
  = link_to t('.delete'), admin_item_path(@item), :method => :delete, :confirm => t('.delete_confirm')

  %br
  %br

  - unless @item.comments.empty?
    %h2= t('models.item.comments').capitalize

    - @item.comments.each_with_index do |comment, index|
      = render 'layouts/admin/comments/show', :comment => comment, :index => index

= render 'layouts/admin/comments/delete.js'