= link_to 'back', admin_items_path

%h1 Edit Item

= form_for @item, :url => admin_item_path(@item), :method => :put do |f|

  = render "layouts/admin/item_form", :f => f

  %br
  = submit_tag 'Update Item'


  %br
  %br
  %br
  = link_to 'delete item', admin_item_path(@item), :method => :delete, :confirm => 'Are you sure? '

