= link_to 'back', admin_items_path

%h1 Edit Item

= form_for @item, :url => admin_item_path(@item), :method => :put do |f|

  = render "layouts/admin/item_form", :f => f

  %br
  = submit_tag 'Update Item'

  %br
  %br
  = link_to 'delete item', admin_item_path(@item), :method => :delete, :confirm => 'Are you sure?'

  %br
  %br

  - unless @item.comments.empty?
    %h2 Comments

    - @item.comments.each do |comment|
      = render 'layouts/admin/comments/show_comment', :comment => comment

= render 'layouts/admin/comment_delete_js'