= link_to t('back'), admin_items_path

%h1= t('.create').titleize

= form_for @item, :url => admin_items_path, :method => :post do |f|

  = render "layouts/admin/item_form", :f => f

  %br
  = submit_tag t('.create')
