%div.comment
  %div.comment-header
    %strong
      = link_to user_avatar_and_name(comment.user).html_safe, comment.user.link
      = login_provider_in_brackets(comment.user)
    = t('.at')
    = l comment.created_at, :format => :short
    = t('.in_item')
    = link_to comment.item.name, edit_admin_item_path(comment.item.id)

  %span= sanitize simple_format comment.text

  %div
    = link_to t('.delete_comment'), admin_comment_path(comment),
      :method => :delete, :remote => true, "data-type" => :json,
      :class => %w(Comment delete), :confirm => t('.delete_confirm')