-#  This file is app/views/movies/index.html.haml
%h1 Login page

= form_tag admin_session_path, :name => :session, :method => :post do
  = label_tag :name, 'user name'
  = text_field :session, "name"

  = label_tag :password, 'password'
  = password_field :session, "password"

  = submit_tag 'log in'
