#coding: utf-8

%div= f.label :name, name_with_language(t('models.section.name'), 'en') + mark_required(Section, :name)
%div
  = f.text_field :name
  .text-error= @section.errors[:name].join(', ')

%div= f.label :name_ru, name_with_language(t('models.section.name'), 'ru') + mark_required(Section, :name_ru)
%div
  = f.text_field :name_ru
  .text-error= @section.errors[:name_ru].join(', ')

%br

%div= f.label :alias, t('models.section.alias').titleize + ' ' + mark_required(Section, :alias)
%div
  = f.text_field :alias
  .text-error= @section.errors[:alias].join(', ')

%br


%div= f.label :parent_id, t('models.section.parent').titleize + ' ' + mark_required(Section, :parent_id)
%div
  =f.select :parent_id, options_for_select(@tabulated_sections, @section[:parent_id]), { :include_blank => "root" }
  .text-error= @section.errors[:parent_id].join(', ')

%br

%div= f.label :description, t('models.section.description').titleize + ' ' + mark_required(Section, :description)
%div
  = f.text_area :description, :size => '80x8'
  .text-error= @section.errors[:description].join(', ')
%br


%div
  = f.check_box(:hidden, :checked => @section[:hidden])
  = f.label :hidden, t('models.section.hidden').titleize + ' ' + mark_required(Section, :hidden)

%br

%div
  - unless @section.nil?
    .text-error= errors_messages(@section.errors, [:name, :short_name, :alias, :parent_id, :description]).join.html_safe
