= label :section, :name, 'Name' + ' ' + mark_required(Section, :name)
= text_field :section, 'name'
.text-error= @section.errors[:name].join(', ')
%br

= label :section, :short_name, 'Short name' + ' ' + mark_required(Section, :short_name)
= text_field :section, 'short_name'
.text-error= @section.errors[:short_name].join(', ')
%br

= label :section, :alias, 'Alias' + ' ' + mark_required(Section, :alias)
= text_field :section, 'alias'
.text-error= @section.errors[:alias].join(', ')
%br


= label :section, :parent_id, 'Parent' + ' ' + mark_required(Section, :parent_id)
= select :section, :parent_id, options_for_select(@tabulated_sections, @section[:parent_id]), { :include_blank => "root" }
.text-error= @section.errors[:parent_id].join(', ')


= label :section, :description, 'Description' + ' ' + mark_required(Section, :description)
= text_area :section, :description, :size => '80x8'
.text-error= @section.errors[:description].join(', ')
%br


%br


= label :section, :hidden, 'Hidden' + ' ' + mark_required(Section, :hidden)
= check_box(:section, :hidden, :checked => @section[:hidden])
%br


- unless @section.nil?
  .text-error= errors_messages(@section.errors, [:name, :short_name, :alias, :parent_id]).join.html_safe
