= link_to 'back', admin_sections_path

%h1 Edit Section

= form_for @section, :url => admin_section_path(@section), :method => :put do |f|

  = render "layouts/admin/section_form", :f => f

  %br
  = submit_tag 'Update Section'


  %br
  %br
  %br
  = link_to 'delete section branch', admin_section_path(@section), :method => :delete, :confirm => 'Are you sure? The whole section branch will be deleted completely.'

