= link_to 'log out', admin_session_path, :method => :delete
%br
= link_to 'sections page', admin_sections_path
= link_to 'items page', admin_items_path

%h2 All Sections


- flatten_as_lists(@sections).each do |element|
  = element unless element.kind_of? Section
  = link_to element[:name], edit_admin_section_path(element[:id]) if element.kind_of? Section

