%br

= link_to t('.create_new'), new_admin_section_path

%h1= t('.all_sections').titleize

- place_list_tags_for(@menu_list).each do |element|
  = element unless element.kind_of? Section
  - if element.kind_of? Section
    = link_to element[:name], edit_admin_section_path(element[:id]), :class => link_color?(element[:hidden])
    &nbsp;&nbsp;
    %span.shift_links
      = link_to "&uarr;".html_safe, admin_section_up_path(element), :remote => true, "data-type" => :json, :class => [element.class, element.id, 'up'] if element.can_be_shifted[:up]
      = link_to "&darr;".html_safe, admin_section_down_path(element), :remote => true, "data-type" => :json, :class => [element.class, element.id, 'down'] if element.can_be_shifted[:down]

= render 'layouts/admin/shift_js'