%br

= link_to 'Create new section', new_admin_section_path

%h2 All Sections

- @flattened_sections.each do |element|
  = element unless element.kind_of? Section
  - if element.kind_of? Section
    = link_to element[:name], edit_admin_section_path(element[:id]), :class => link_color?(element[:hidden])
    &nbsp;&nbsp;
    = link_to "&uarr;".html_safe, admin_section_up_path(element) if element[:shifts][:up] if element[:shifts][:up]
    = link_to "&darr;".html_safe, admin_section_down_path(element) if element[:shifts][:down] if element[:shifts][:down]

