%h1= @item.name.titleize

- unless @item.photo_file_name.nil?
  %div.pull-left
    = image_tag(@item.photo.url(:original), :class => 'client-item-original')



%div.price
  %strong= t('models.item.price').capitalize + ':'
  = @item.price
%div.amount
  %strong= t('models.item.amount').capitalize + ':'
  = @item.amount
%div.manufacturer
  %strong= t('models.item.manufacturer').capitalize + ':'
  = @item.manufacturer



%div.description
  = simple_format(@item.description)


%div.clearfix
%br


%h2= t '.comments'

- if @item.comments.empty?
  %div
    = t '.no_comments_message'
- else
  %div.comments
  - @item.comments.each_with_index do |comment, index|
    = render "layouts/client/comments/show", :comment => comment, :index => index

%br

- if user_signed_in?
  = render "layouts/client/comments/new"
- else
  %div
    = t '.log_in_to_post'
