%h1= @item.name.titleize

- unless @item.photo_file_name.nil?
  %div.pull-left
    = image_tag(@item.photo.url(:original), :class => 'client-item-original')



%div.price
  %strong Price:
  = @item.price
%div.amount
  %strong Amount:
  = @item.amount
%div.manufacturer
  %strong Manufacturer:
  = @item.manufacturer



%div.description
  = simple_format(@item.description)


%div.clearfix


%h2 Comments

- if @item.comments.empty?
  %div There are no comments yet. Be the first!
- else
  %div.comments
  - @item.comments.each_with_index do |comment, index|
    = render "layouts/client/show_comment", :comment => comment, :index => index

%br

- if user_signed_in?
  = render "layouts/client/new_comment"
- else
  %div
    You need to be logged in for adding comments.
