%h1= @item.name.titleize

%div.price
  %strong Price:
  = @item.price
%div.amount
  %strong Amount:
  = @item.amount
%div.manufacturer
  %strong Manufacturer:
  = @item.manufacturer

%div.description
  = @item.description
