!!!
%html{:lang => "en"}
  %head
    = javascript_include_tag :application
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title= content_for?(:title) ? yield(:title) : "Maxfoods"
        = csrf_meta_tags
        /[if lt IE 9]
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
        = stylesheet_link_tag "application", :media => "all"
  %body
    .navbar
      .navbar-inner
        .container-fluid
          .row-fluid
            = link_to t('app_name').titleize, root_path, :class => %w(brand)
            = render 'layouts/language_change'

    .container-fluid
      .row-fluid
        .span9
          .well.sidebar-nav
            - if client_panel?
              = render "layouts/client/bread_crumbs"

            - if flash[:success]
              #notice.message.text-success
                = flash[:success]
                = flash[:notice]
            - if flash[:error] or flash[:alert]
              #error.message.text-error
                = flash[:error]
                = flash[:alert]
            - elsif flash[:warning]
              #warning.message= flash[:warning]

            = yield

        .span3
          .well.sidebar-nav#login-panel
            = render "layouts/"+panel_name+"/login_panel"
          .well.sidebar-nav
            %ul.nav.nav-list.shifted-left
              %li.nav-header
                = render "layouts/#{controller.sub_layout}" if controller.respond_to? :sub_layout

    %div= I18n.locale unless I18n.locale.nil?
    %div= debug(params) if Rails.env.development?
    %pre= session.to_yaml unless session.nil?